# Ignore env
wercker.env

# Ignore builds
dist/
.go/
.container-*
.push-*
.dockerfile-amd64
bin/
.wercker

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.pyc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

test/integration/terraform/.terraform/
test/integration/terraform/terraform.tfstate
test/integration/terraform/terraform.tfstate.backup

test/system/terraform/.terraform/
test/system/terraform/terraform.tfstate
test/system/terraform/terraform.tfstate.backup
test/system/ansible_inventory
test/system/replication-controller.yaml
test/system/runner.log

*.retry
ansible/hosts
